html, body {
    background-color: #333;
    color: #eee;
}

main {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 500px;
    margin: 1em 200px;
}

p {
    margin: 1em 0px 2em 2em;
    max-width: 600px;
}